header{
    display: flex;
    justify-content: space-between;
    margin-right: 64px;
    margin-left: 64px;
    align-items: center;
    img{
        width: 240px
    }
}

.navbar{
    display: flex;
    width: 411px;
    justify-content: space-between;
}