<div class="features">
    <div class="feature">
        <div class="feature__texto">
           <h2 class="feature__titulo">CRM simple</h2>
        <p>Gestiona tus clientes y contactos fácilmente.</p> 
        </div>
        
        <img class="img__crm" src="images/crm.png" alt="">
    </div>

        <div class="feature">
        <div class="feature__texto">
           <h2 class="feature__titulo">Cotizaciones rápidas</h2>
        <p>Genera propuestas profesionales en minutos.</p> 
        </div>
        
        <img class="img__crm" src="images/cotizacion.png" alt="">
    </div>

        <div class="feature">
        <div class="feature__texto">
           <h2 class="feature__titulo">Tareas y proyectos</h2>
        <p>Mantén tu flujo de trabajo ordenado.</p> 
        </div>
        
        <img class="img__crm" src="images/tareas.png" alt="">

    </div>
</div>