<div>
    <h1>Testimonios</h1>
    <p>Lo que dicen quienes ya trabajan con Koalli</p>

    <div class="testimonios">
        <div class="testimonio">
           <p class="testimonio__text">“Koalli me ayudó a organizar
mis clientes y cotizaciones en
un solo lugar. Ahora todo mi
flujo de trabajo está
centralizado.”</p>
           <div class="cliente">
            <img src="images/happy.png" alt="">
            <div class="cliente__info">
                <p>Laura Garcia</p>
                <p class="profesion">Diseñadora Freelance</p>
            </div>
           </div>
        </div>

                <div class="testimonio">
           <p class="testimonio__text">“Es justo lo que necesitaba para
manejar mis proyectos y enviar
presupuestos sin perder
tiempo.”</p>
           <div class="cliente">
            <img src="images/happy.png" alt="">
            <div class="cliente__info">
                <p>Carlos Murillo</p>
                <p class="profesion">Desarrollador Web</p>
            </div>
           </div>
        </div>

                <div class="testimonio">
           <p class="testimonio__text"> “Lo uso para mis propuestas a
clientes y el CRM me ahorra
horas de seguimiento.”</p>
           <div class="cliente">
            <img src="images/happy.png" alt="">
            <div class="cliente__info">
                <p>Andrea Parra</p>
                <p class="profesion">Agencia Creativa</p>
            </div>
           </div>
        </div>
    </div>
</div>